In [1]:
%pylab inline
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

 # visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import ensemble, model_selection, metrics 
train_df = pd.read_csv('ready_data/train_longevity.csv')
test_df = pd.read_csv('ready_data/test_longevity.csv')
combine = [train_df, test_df]

Populating the interactive namespace from numpy and matplotlib

In [2]:
train_df.shape      # мы увидим информацию о размерности нашего датафрейма 
train_df.info()     # покажет информацию о размерности данных 
                          # описание индекса, количество not-a-number элементов 
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 12 columns):
Longevity        857 non-null int64
Education        857 non-null int64
Sex              857 non-null object
Age              857 non-null float64
Pet              857 non-null int64
Children         857 non-null int64
Activity         857 non-null int64
Sport            857 non-null int64
Family           857 non-null int64
IsAlone          857 non-null int64
Age*Education    857 non-null int64
Status           857 non-null int64
dtypes: float64(1), int64(10), object(1)
memory usage: 80.4+ KB

,Longevity,Education,Sex,Age,Pet,Children,Activity,Sport,Family,IsAlone,Age*Education,Status
0,0,3,female,73.0,1,0,725,1,1,0,6,3
1,1,1,male,75.0,1,0,7128,0,1,0,3,3
2,1,3,male,73.0,0,0,793,1,0,1,6,4
3,1,1,male,74.0,1,0,5310,0,1,0,2,2
4,0,3,female,74.0,0,0,805,1,0,1,6,4

fit не принимает строки, поэтому преобразуем поле SEX (0 - female, 1 - male)

In [3]:
def isMale(t):
    if(t[0] == 'm'):
        return 1
    else:
        return 0
 
train_df["Sex"] = train_df["Sex"].map(lambda a: isMale(a))
test_df["Sex"] = test_df["Sex"].map(lambda a: isMale(a))
train_df.head(3)

,Longevity,Education,Sex,Age,Pet,Children,Activity,Sport,Family,IsAlone,Age*Education,Status
0,0,3,0,73.0,1,0,725,1,1,0,6,3
1,1,1,1,75.0,1,0,7128,0,1,0,3,3
2,1,3,1,73.0,0,0,793,1,0,1,6,4

In [4]:
x_train = train_df[train_df.columns[1::]]
y_train = train_df['Longevity']

x_test = test_df[test_df.columns[1::]]
y_test = test_df['Longevity']

Так как цель предсказать Longevity, то делим данные.

In [5]:
x_train.head(10)

,Education,Sex,Age,Pet,Children,Activity,Sport,Family,IsAlone,Age*Education,Status
0,3,0,73.0,1,0,725,1,1,0,6,3
1,1,1,75.0,1,0,7128,0,1,0,3,3
2,3,1,73.0,0,0,793,1,0,1,6,4
3,1,1,74.0,1,0,5310,0,1,0,2,2
4,3,0,74.0,0,0,805,1,0,1,6,4
5,3,0,73.0,0,0,846,1,0,1,6,4
6,1,0,77.0,0,0,5186,0,0,1,4,5
7,3,0,70.0,3,1,2108,1,4,0,0,1
8,3,1,73.0,0,2,1113,1,2,0,6,3
9,2,1,72.0,1,0,3007,1,1,0,2,2

In [6]:
y_train.head(10)

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Longevity, dtype: int64

Случайный лес

Случайный лес — модель, состоящая из множества деревьев решений. Вместо того,чтобы просто усреднять прогнозы разных деревьев (такая концепция называется просто «лес»), эта модель использует две ключевые концепции, которые и делают этот лес случайным.

Случайная выборка образцов из набора данных при построении деревьев.
При разделении узлов выбираются случайные наборы параметров.

In [7]:
rf_classifier = ensemble.RandomForestClassifier(n_estimators = 50, max_depth = 10, random_state = 1)
#n_estimators - Количество деревьев в лесу.
#max_depth - глубина дерева
#random_state - это начальное число, используемое генератором случайных чисел;

In [8]:
rf_classifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [9]:
y_pred = rf_classifier.predict(x_test)

Посчитаем ошибку с помощью mse.
Измеряет среднюю сумму квадратной разности между фактическим значением и прогнозируемым значением для всех точек данных. Выполняется возведение во вторую степень, поэтому отрицательные значения не компенсируют положительными. А также в силу свойств этой метрики, усиливается влияние ошибок, по квадратуре от исходного значения. Это значит, что если в в исходных измерениях мы ошиблись на 1, то метрика покажет 1, 2-4, 3-9 и так далее. Чем меньше MSE, тем точнее наше предсказание. Оптимум достигается в точке 0, то есть мы идеально предсказываем.

По сравнению с средней абсолютной ошибкой, MSE  имеет некоторые преимущества:
Она подчеркивает большие ошибки над меньших ошибках.
Является дифференцируемым, что позволяет более эффективно использовать для поиска минимальных или максимальных значений с помощью математических методов.

In [10]:
mse = metrics.mean_squared_error(y_test, y_pred) #квадратичное отклонение
mse

0.6084070796460177

In [11]:
ra = metrics.roc_auc_score(y_test, y_pred) #отношение правильно угаданных экземпляров класса 1 к неправильно угаданным экземплярам класса 0
# чем больше тем лучше
ra

0.5202093107181524

In [12]:
acc_random_forest = round(rf_classifier.score(x_test, y_test) * 100, 2)
acc_random_forest

39.16

Модель Наивного байесовского классификатора (GaussianNB).

In [13]:
from sklearn.naive_bayes import GaussianNB

In [14]:
gausNb = GaussianNB()

In [15]:
gausNb.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [16]:
y_pred = gausNb.predict(x_test)

In [17]:
mse = metrics.mean_squared_error(y_test, y_pred) #квадратичное отклонение
mse

0.3672566371681416

In [18]:
ra = metrics.roc_auc_score(y_test, y_pred) #отношение правильно угаданных экземпляров класса 1 к неправильно угаданным экземплярам класса 0
# чем больше тем лучше
ra

0.49480968858131485

In [19]:
acc_gaussian = round(gausNb.score(x_test, y_test) * 100, 2)
acc_gaussian

63.27

Модель Персептрона (Perceptron).

In [20]:
from sklearn.linear_model import Perceptron

In [21]:
percep = Perceptron()

In [22]:
percep.fit(x_train, y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [23]:
y_pred = percep.predict(x_test)

In [24]:
mse = metrics.mean_squared_error(y_test, y_pred) #квадратичное отклонение
mse

0.36504424778761063

In [25]:
ra = metrics.roc_auc_score(y_test, y_pred) #отношение правильно угаданных экземпляров класса 1 к неправильно угаданным экземплярам класса 0
# чем больше тем лучше
ra

0.49653979238754326

In [26]:
acc_perceptron = round(percep.score(x_test, y_test) * 100, 2)
acc_perceptron

63.5

**модель k-Ближайших соседей (KNeighborsClassifier).**

In [28]:
from sklearn import neighbors
kns = neighbors.KNeighborsClassifier()
kns.fit(x_train, y_train)
y_predkns = kns.predict(x_test)
acc_kns = round(kns.score(x_train, y_train) * 100, 2)
acc_kns

80.4

In [29]:
mse_kns = metrics.mean_squared_error(y_test, y_predkns) #квадратичное отклонение
mse_kns

0.3606194690265487

In [30]:
ra_kns = metrics.roc_auc_score(y_test, y_predkns) 
ra_kns

0.5

**модель Машины опорных векторов (SVC и LinearSVC).**

In [32]:
from sklearn import svm
svc = svm.SVC()
svc.fit(x_train, y_train)
y_predsvc = svc.predict(x_test)
acc_svc = round(svc.score(x_train, y_train) * 100, 2)
acc_svc

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

88.56

In [33]:
mse_svc = metrics.mean_squared_error(y_test, y_predsvc) #квадратичное отклонение
mse_svc

0.3606194690265487

In [34]:
ra_svc = metrics.roc_auc_score(y_test, y_predsvc) 
ra_svc

0.5